<div class="row" ng-if="main.isDataAvailable && !main.showOnError">
    <div class="large-4 columns">
        <google-font-manager-directive info="main.fontData.fontDataArray" applied-family="main.fontData.fontFamily"></google-font-manager-directive>
    </div>
    <div class="large-8 columns" ng-style="{'font-family': main.fontData.fontFamily}">
        <div class="font-preview-container">
            <div class="font-preview-box">
            	Sample Preview Text
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="!main.isDataAvailable && !main.showOnError">
    <div class="large-12 columns loading-text">
        <h2>Fetching google fonts please wait...</h2>
    </div>
</div>

<div class="row" ng-if="main.showOnError">
    <div class="large-12 columns error-text">
        <h2>Fetching google fonts please wait...</h2>
    </div>
</div>
