<div class="row">
    <div class="small-12 heading">
        <h1>Google Font Manager</h1>
        <p>AngularJs Directive to easily add Google fonts to your website.</p>
    </div>
</div>
<div class="row" ng-if="main.isDataAvailable && !main.showOnError">
    <div class="large-4 columns">
        <google-font-manager-directive info="main.fontData"></google-font-manager-directive>
    </div>
    <div class="large-8 columns" ng-style="main.getStyle(main.fontData)">
        <div class="font-preview-container">
            <div class="font-preview-box">
            	Sample Preview Text
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="!main.isDataAvailable && !main.showOnError">
    <div class="large-12 columns loading-text">
        <h2>Fetching google fonts please wait...</h2>
    </div>
</div>

<div class="row" ng-if="main.showOnError">
    <div class="large-12 columns error-text">
        <h2>Fetching google fonts please wait...</h2>
    </div>
</div>
