<div class="google-font-manager">
    <div class="row">
        <div class="large-12 columns">
            <div class="drop-container">
                <div class="drop-box-head" ng-click="showList()">
                    {{placeHolderValue}}
                </div>
                <div class="drop-box-list" ng-show="showListItems">
                    <div class = "search-bar">
                        <input type="text" placeholder="Search font" ng-model="searchText">
                    </div>
                    <div class="font-list-container">
                        <ul class="font-list">
                            <li ng-repeat="item in fontItemList | filter:searchText">
                                <div ng-repeat="varient in item.variants" ng-class="{'active-font': selected === (item.family + ',' + varient)}" ng-click="selectFont(item, varient)">
                                    {{item.family + ',' + varient}}
                                </div> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
